* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.conteiner {
  max-width: 1920px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
.headsection {
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.headsection-inside {
  max-width: 1786px;
  width: 100%;
}
.headsection-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.roca {
  margin-top: 48px;
  max-width: 113px;
  width: 100%;
  font-family: "Poppins-ExtraBold";
  font-size: xx-large;
  display: flex;
  align-items: baseline;
}
.rocaarticle {
  /* color: #0081ff; */

  max-width: 10px;
  max-height: 10px;
  width: 100%;
  height: 100%;
  background-color: #0081ff;
  border-radius: 10px;
}
.resume {
  font-family: "Montser-Regular";
  font-size: xx-small;
  color: #b3b3b3;
  margin-top: -7px;
}
.absolute01 {
  max-width: 227px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.zero1 {
  display: flex;
  justify-content: center;
  /*   max-width: 170px;
  width: 100%;
  max-height: 221px;
  height: 100%; */
  font-family: "Poppins-ExtraBold";
  color: #1c1c1c;
  font-size: 158px;
}
/* .zero1p {
  font-family: "Poppins-ExtraBold";
  color: #1c1c1c;
  font-size: 158px;
} */
.absolute {
  position: absolute;
  font-family: "Poppins-ExtraBold";
  font-size: 43px;
  color: #373737;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aboute-div {
  padding-top: 138px;
  max-width: 1900px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.about-correct {
  max-width: 890px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.about-kontent {
  max-width: 582px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.im {
  font-family: "Glacia-Regular";
  font-size: 49.7px;
  color: #212121;
}
.my {
  font-family: "Glacia-Bold";
  font-size: 71px;
  color: #212121;
}
.profesi {
  font-family: "Glacia-Regular";
  font-size: x-large;
  color: #212121;
}
.contact-icons {
  max-width: 30px;
  width: 100%;
  max-height: 30px;
  max-height: 100%;
  padding-left: 5px;
}
.clients {
  padding-top: 181.46px;
  max-width: 1686px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.clients-iside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 340px;
  width: 100%;
  font-family: "Montser-Bold";
}
.clientsp {
  display: flex;
}
.clients100 {
  color: #e93656;
  padding-right: 5px;
}
.tablo {
  max-width: 340px;
  width: 100%;
  height: 6px;
  background-color: #e93656;
  margin-top: 20px;
  margin-bottom: 47px;
}
.slider-cover {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}
#myimg {
  max-width: 1920px;
  width: 100%;
  max-height: 960px;
  height: 100%;
}
.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 100%;
  transition: 1s;
  filter: brightness(0.5);
  z-index: -1;
}

.slider.active {
  display: block;
  width: 100%;
  z-index: 0;
  filter: brightness(0.9);
}
.my-description-section {
  padding-top: 135px;
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description-pereent {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.my-description {
  padding-top: 83px;
  max-width: 334px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.my-description h1 {
  font-size: xx-large;
  font-family: "Glacia-Bold";
  color: #222222;
}
.my-description h5 {
  font-family: "Mul";
  color: #daae19;
  padding-bottom: 33px;
}
.my-description p {
  font-family: "Mul-Regular";
  color: #555555;
  font-size: small;
  padding-bottom: 60px;
}
.my-description button {
  max-width: 152px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: #e93656;
  border: none;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: "Glacia-Bold";
  font-size: small;
}
.description-foto img {
  max-width: 430px;
  max-height: 603px;
  width: 100%;
  height: 100%;
}
.description-procents {
  padding-top: 60px;
  max-width: 302px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}
.description-procent-text {
  margin-top: 31.05px;
  display: flex;
  font-family: "Glacia-Bold";
  font-size: larger;
  color: #555555;
}
.description-red-p {
  color: #e93656;
  padding-left: 11px;
}
.description-procent-border-begin {
  display: flex;
  justify-content: flex-start;
  max-width: 300px;
  max-height: 8px;
  width: 100%;
  height: 100%;

  background-color: #f0f0f0;
  margin-top: 15px;
}
.html-description-procent-border {
  display: flex;
  justify-content: flex-start;
  max-width: 300px;
  max-height: 8px;
  width: 100%;
  height: 100%;
  animation-name: htmlanimation;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  background: -webkit-linear-gradient(left, #e93656 0.1%, #f0f0f0 80%);

  margin-top: 15px;
}
.css-description-procent-border {
  display: flex;
  justify-content: flex-start;
  max-width: 300px;
  max-height: 8px;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, #e93656 0.1%, #f0f0f0 70%);
  animation-name: cssanimation;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin-top: 15px;
}
.js-description-procent-border {
  display: flex;
  justify-content: flex-start;
  max-width: 300px;
  max-height: 8px;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, #e93656 0.1%, #f0f0f0 50%);
  animation-name: jsanimation;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin-top: 15px;
}
.seo-description-procent-border {
  display: flex;
  justify-content: flex-start;
  max-width: 300px;
  max-height: 8px;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, #e93656 0.1%, #f0f0f0 20%);
  animation-name: seoanimation;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin-top: 15px;
}
.description-buttons {
  display: flex;
  justify-content: flex-start;
}
.description-button {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  margin-top: 78.01px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 5px;
}
.description-button img {
  max-width: 30px;
  max-height: 30px;
  width: 100%;
  height: 100%;
}
.description-button:hover {
  background-color: #15263e;
}

.description-bottom {
  margin-top: 100px;
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #131a36;
}
.description-kontact {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 981px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
.desecription-number,
.description-adress,
.description-email {
  max-width: 295px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.description-iframe {
  border: none;
  background-color: #131a36;
  max-width: 90px;
  max-height: 90px;
  width: 100%;
  height: 100%;
  padding: 30px;
  border: 2px dashed #ffffff;
  border-radius: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-iframe:hover {
  background-color: #e93656;
  border: 0.1px solid #e93656;
}
.deskription-kontakt-kontent h3 {
  font-family: "Glacia-Bold";
  font-size: x-large;
  padding-bottom: 15px;
}
.deskription-kontakt-kontent p {
  font-family: "Mul";
  font-size: small;
}
/* .deskription-kontakt-kontent {
  max-width: 180px;
  width: 100%;
}
 */
@keyframes htmlanimation {
  from {
    background: -webkit-linear-gradient(left, #e93656 0.1%, #f0f0f0 80%);
  }
  to {
    background: -webkit-linear-gradient(left, #e93656 80%, #f0f0f0 20%);
  }
}
@keyframes cssanimation {
  from {
    background: -webkit-linear-gradient(left, #e93656 0.1%, #f0f0f0 70%);
  }
  to {
    background: -webkit-linear-gradient(left, #e93656 70%, #f0f0f0 30%);
  }
}
@keyframes jsanimation {
  from {
    background: -webkit-linear-gradient(left, #e93656 0.1%, #f0f0f0 50%);
  }
  to {
    background: -webkit-linear-gradient(left, #e93656 50%, #f0f0f0 50%);
  }
}
@keyframes seoanimation {
  from {
    background: -webkit-linear-gradient(left, #e93656 0.1%, #f0f0f0 20%);
  }
  to {
    background: -webkit-linear-gradient(left, #e93656 20%, #f0f0f0 20%);
  }
}
